
<div class="product-page">
  <div class="product-page-header">
    <div class="product-page-header-left">
      <h1>
        Code Assessment
      </h1>
    </div>
    <div class="product-page-header-cart" (click)="openCart($event)">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <div class="product-page-header-cart-number"> {{cart_length}} </div>
    </div>
  </div>
  <div *ngIf="product_listings">
    <app-product-list [product_listings]="product_listings" (add_to_cart)="addProductToCart($event)"></app-product-list>
  </div>
  <div class="product-page-cart-fold" #cartFold style="display: none">
    <div *ngIf="cart_items.length===0" class="product-page-cart-fold-noitems"> No Items in your cart </div>
    <div *ngFor="let each_cart_item of cart_items; let i = index" class="product-page-cart-fold-each">
      <div class="product-page-cart-fold-each-img">
        <img [src]="each_cart_item.image"/>
      </div>
      <div class="product-page-cart-fold-each-right">
        <div class="product-page-cart-fold-each-right-title"> {{each_cart_item.title}} </div>
        <div class="product-page-cart-fold-each-right-bottom">
          <div class="product-page-cart-fold-each-right-bottom-price"> {{each_cart_item.price}} </div>
          <div class="product-page-cart-fold-each-right-bottom-remove" (click)="removeProduct($event, each_cart_item, i)"> Remove </div>

        </div>
      </div>
    </div>
    <div class="product-page-cart-fold-checkout-wrap">
      <div class="product-page-cart-fold-checkout-wrap-total"> Subtotal : ${{cart_total}}</div>
      <div class="product-page-cart-fold-checkout-wrap-button" (click)="checkout($event)">  {{checkout_button_text}} </div>
    </div>
  </div>
  <div class="product-page-footer"></div>
</div>

