@import "../../../styles";

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes scale-display--reversed {
  0% {
    display: flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  99% {
    display: flex;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
.product-page{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  &-header{
    width: 100%;
    height: 60px;
    background-color: @brand-color;
    display: flex;
    align-items: center;
    &-left{
      width: calc(100% - 50px);
      color: white;
      padding: 20px;
    }
    &-cart{
      width: 75px;
      height: 100%;
      font-size: 40px;
      color: @brand-color-2;
      right: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      border-left: 1px solid white;
      position: relative;
      &-number{
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        color: black;
        margin-top: 15px;
        margin-left: 15px;
        position: absolute;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }

  }
  &-cart-fold{
    width:400px;
    display: none;
    background-color: @brand-color-2;
    position: absolute;
    right: 0;
    top: 75px;
    box-shadow: 0 2px 77px @brand-color;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    &.active {
      animation: scale-display .3s;
      display: flex;
    }

    &.out {
      animation: scale-display--reversed .3s;
      animation-fill-mode:forwards;
      display: none;
    }
    &-noitems{
      width: 80%;
      height: 200px;
      font-size: 22px;
      color: @brand-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-each{
      width: 90%;
      height: 80px;
      background-color: white;
      display: flex;
      /*
      box-shadow: 0 2px 77px @brand-color;
      */
      margin: 10px 0;
      &-img{
        width: 30%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &-right{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        &-title{
          width: 100%;
          height: 50%;
          text-transform: capitalize;
        }
        &-bottom{
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          &-remove{
            width: 100px;
            height: 20px;
            color: white;
            background-color: red;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            border-radius: 8px;
          }
          &-price{
            width: calc(100% - 100px);
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }

      }

    }
    &-checkout-wrap{
      width: 100%;
      height: 50px;
      display: flex;
      border-top: 1px solid @brand-color;
      align-items: center;
      justify-content: center;
      &-button{
        width: 150px;
        height: 35px;
        background-color: @brand-color;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        margin:0 20px;
        cursor: pointer;
        &:hover{
          background-color: @brand-color-hover;
        }
      }
      &-total{
        width: calc(100% - 150px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 20px;
      }
    }
  }
  &-footer{
    width: 100%;
    height: 150px;
    background-color: @brand-color;
  }
  &-success{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: @brand-color;
    margin: 20px;
    &-close{
      width: 100px;
      height: 30px;
      background-color: @brand-color;
      color: white;
      font-weight: 700;

    }
  }
}
