<div *ngIf='product_listings' class="pp">
  <div class="pp-overview">
    <div *ngFor="let each_product of product_listings" class="pp-overview-card" (click)="expandCard($event, each_product)">
      <div class="pp-overview-card-img">
        <img [src]="each_product.image"/>
      </div>
      <div class="pp-overview-card-title">
        {{each_product.title}}
      </div>
      <div class="pp-overview-card-wrap">
        <div class="pp-overview-card-wrap-price"> {{each_product.price}} </div>
        <div class="pp-overview-card-wrap-button" (click)="addToCart($event, each_product)"> Add To Cart </div>
      </div>
      <div class="pp-overview-card-quick-view" (click)="generateQuickView($event, each_product)"> Quick View </div>
    </div>
  </div>
</div>
<div class="pp-interstitial" #quickView style="display: none">
  <div class="pp-interstitial-close-icon" #closeInterstitial>
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div *ngIf="interstitial_data" >
    <div class="pp-interstitial-container">
      <div class="pp-interstitial-container-img">
        <img [src]="interstitial_data.image">
      </div>
      <div class="pp-interstitial-container-content">
        <div class="pp-overview-card-title"> {{interstitial_data.title}}</div>
        <div class="pp-overview-card-description-wrap">
          <div class="pp-overview-card-description-wrap-row">
            <div class="pp-overview-card-description-wrap-row-color">
              <div class="pp-overview-card-description-wrap-row-color-text"> Color : &nbsp;</div>
              <div class="pp-overview-card-description-wrap-row-color-pick" [ngStyle]="{'background-color': interstitial_data.color}"></div>
            </div>
            <div class="pp-overview-card-description-wrap-row-stock">
              <div class="pp-overview-card-description-wrap-row-stock-text"> In Stock : &nbsp; </div>
              <div class="pp-overview-card-description-wrap-row-stock-available"> {{interstitial_data.stock.remaining}}</div>
            </div>
          </div>
          <div class="pp-overview-card-description-wrap-content"> {{interstitial_data.description}}</div>
          <div class="pp-overview-card-wrap">
            <div class="pp-overview-card-wrap-price"> {{interstitial_data.price}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
