@import "../../../styles";
.pp{
  width:100%;
  height: 100%;
  margin: 30px 0;
  &-overview{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    &-card{
      padding: 30px 0;
      width: 320px;
      height: auto;
      margin:10px;
      background-color: white;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid @brand-color;
      -webkit-transition: width .2s, height .2s; /* Safari */
      transition: width .2s, height .2s;
      cursor: pointer;

      &-close-icon{
        width: 25px;
        height: 25px;
      }
      &-img{
        width: 80%;
        height: 245px;
        overflow: hidden;
        pointer-events: none;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-title{
        width: 80%;
        min-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @brand-color;
        font-size: 24px;
        margin: 10px 0;
        pointer-events: none;
        text-transform: capitalize;
      }
      &-description-wrap{
        display: flex;
        flex-direction: column;
        width: 80%;
        pointer-events: none;
        &-row{
          display: flex;
          width: 100%;
          height: 35px;
          &-color{
            width: 40%;
            display: flex;
            align-items: center;

            &-text{

            }
            &-pick{
              width: 25px;
              height: 25px;
              margin-left: 10px;
            }
          }
          &-stock{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &-text{

            }
            &-available{
              margin-left: 10px;
              color: @brand-color;
              font-size: 22px;
              font-weight: 700;
            }
          }
        }

        &-content{
          width: 100%;
          text-align: justify;
          font-size: 18px;
          line-height: 1.5em;

        }

      }
      &-wrap{
        width: 80%;
        height: 35px;
        display: flex;
        pointer-events: none;
        margin-top: 20px;
        &-price{
          width: 40%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        &-button{
          width: 60%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          background-color: @brand-color;
          color: @brand-color-2;
          font-size: 20px;
          font-weight: 700;
          pointer-events: all;
          &:hover{
            background-color: @brand-color-hover;
          }
        }
      }
      &-quick-view{
        width:150px;
        height: 30px;
        color: black;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-weight: 700;
        text-decoration: underline;
        @media @mobile{
          display: none;
        }
      }
    }
  }
  &-interstitial{

    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(	0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;

    &-close-icon{
      width: 800px;
      height: 35px;
      color: @brand-color;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      pointer-events: none;
      font-size: 35px;

      i{
        pointer-events: auto;
        cursor: pointer;
      }
    }
    &-container{
      width: 800px;
      min-height: 400px;
      background-color: white;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      &-img{
        width: 300px;
        height: 300px;
        margin-right: 20px;
        overflow: hidden;
        pointer-events: none;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-content{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
        .pp-overview-card-wrap-price{
          color: @brand-color;
        }
        .pp-overview-card-title{
          width: 100%;
        }
        .pp-overview-card-description-wrap{
          width: 100%;
        }
        .pp-overview-card-description-wrap-content{
          width: 100%;
        }
        .pp-overview-card-wrap{
          width: 100%;
        }
      }

    }

  }

}
