/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@mobile: ~"(max-width: 767px)"; // < 768px   bootstrap: sm
@tablet: ~"(min-width: 768px)"; // > 768px   bootstrap: md
@desktop-m: ~"(min-width: 992px)"; // > 992px   bootstrap: lg
@desktop-l: ~"(min-width: 1280px)"; // > 1280px  bootstrap: xl

 /* fonts */
 .universalFont(@fontSize, @fontFamily, @fontWeight, @color) {
     font-size: @fontSize;
     font-family: @fontFamily;
     font-weight: @fontWeight;
     color: @color;
 }

@brand-color: #abbaab;
@brand-color-hover: #738d73;
@brand-color-2: #ffffff;
